<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Produits</title>
</head>
<body>
<h1>Liste des Produits</h1>
<a href="/produits/ajouter">Ajouter un Produit</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Poids (kg)</th>
    </tr>
    <tr th:each="produit : ${produits}">
        <td th:text="${produit.id}"></td>
        <td th:text="${produit.nom}"></td>
        <td th:text="${produit.categorie.nom}"></td>
        <td th:text="${produit.poidsKg}"></td>
    </tr>
</table>
</body>
</html>